/********* Global Body Styles *********/

body {
  background-color: #000000;
  font-family: "Helvetica", Arial, sans-serif;
}


/********* Content Wrapper *********/

.content-wrapper {
  width: 75%;
  height: 100%;
  margin: auto;
}


/********* Header Style *********/

header h1 {
  margin: auto;
  padding: 58px 20px 15px 20px;
  background-color: #ffffff;
  color: #8569b4;
  font-size: 270%;
  text-align: center;
}


/********* Main Nav with Links *********/

.main-nav {
  width: 100%;
  height: 38px;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav ul li {
  float: left;
  width: 14.286%;
  background-color: #8569b4;
}

.main-nav ul li a {
  display: block;
  border: 2px solid #6b4f9a;
  padding: 9px 43px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}


/********* Aside with Links *********/

aside {
  clear: both;
  height: 100%;
  float: left;
  background-color: #c0b2d5;
}

aside ul {
  list-style-type: none;
  padding: 70px 70px 145px 70px;
}

aside li a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #ffffff;
}


/********* Article with Figure & Figure Caption *********/


article {
  width: auto;
} 

figure {
  height: 455px;
  background-color: #e1e4e9;
  text-align: center;
}

figure img {
  width: 36%;
  padding: 80px 16px 10px 16px;
  margin: 0px auto; 
}  

figcaption {
  margin: 0px auto;
  width: 45%;
  padding: 20px 10px 51px 225px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
}


/********* Footer with Social Media Links *********/

footer {
  clear: both;
}

footer ul {
  float: left;
  width: 100%;
  background-color: #ffffff;
}

footer ul li {
  margin-left: 375px;
}

footer ul li img {
  width: 5.35%;
  padding: 8px 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
}
