body {
  /* change my background and set global font family. */
  background-color:black;
  font-family: "Helvetica", Arial, sans-serif;
}


.content-wrapper {
  width:900px;
  margin:auto;
}


header h1 {
  /* Make bigger and color, change our font family to a sans serif */
  margin:auto;
  padding:40px 20px 15px 20px;
  background-color:white;
  color:mediumpurple;
  font-size:265%;
  text-align:center;
}


/*
.main-nav {
  /* change the background color, remove bullets, add a border on each individual nav element. float the links, center our content within the links. width on links, font color, font change family */
}
*/

.main-nav {
  float:left;
  margin: 0;
  padding: 0;
}

.main-nav ul {
  list-style-type:none;
  width:900px;
  height:35px;
  background-color:rebeccapurple;
  margin: 0 auto;
  padding: 0;
}

.main-nav li {
  float:left;
  background-color:mediumpurple
}

.main-nav li a {
  display:block;
  border: 2px solid rebeccapurple;
  padding: 9px 43.6093px;
  text-decoration: none;
  text-align:center;
  color: white;
}


aside {
  /* clear float (both) (since we are moving to a new section) background color, float left */
  clear:both;
  padding:85px 80px 200px 80px; 
  float:left;
  background-color:thistle;
  color:white;
}

aside ul {
  /* clear both */
  list-style-type:none;
  clear:both;
}

aside li {
}

aside li a {
  display:block;
  padding-bottom: 20px;
}


/*
article {
  /* change background color, float to the right */
}
*/

.main-article {
  float:right;
  width:600px;
  background-color:azure;
}


figure {
/* figure, we want to center that using margin:auto */
  margin:auto;
}  

footer {
  /* images float left and centered on page */
  width:900px;
  float:left;
  background-color:white;
}

footer a {
  margin auto;
}

/* will need to set widths on all elements so use developer tools to get this right */


/* for assignment either use photos 1-3 to link to new page or link 1-3 in nav 
index.html - link 1
page1.html - link 2
page2.html - link 3
*/